    $primary-color: grey;
    $nav-background: #F1EDEC;
    @import 'hero';
    @import 'header';
    @import 'animations';
    @import 'media';
    @import 'footer';
    @import 'login';
    @import 'user';
    @import 'staff';
    @import 'gallery';
    @import 'contact';
    @import 'offer_box';
    @import 'local';
    @import 'services';
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,900&display=swap');
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin-top: 50px;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        margin-top: 50px;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }